<template>
  <div>
    <!--<div v-for="character_id in character_ids" v-bind:key="character_id">
      <CharacterBadge :characterId="character_id"></CharacterBadge>
    </div>-->

    <h2>FUCK YOU I DO WHAT I WANT</h2>
    <b-table hover title="Mining History"
      :items="Object.values(ledger)"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="logFilter">
      <template slot="last_updated" slot-scope="data">
        {{moment(data.item.last_updated).format('MM/DD/YYYY')}}
      </template>
      <template slot="character_id" slot-scope="data">
        <div style="cursor: pointer">
          <b-img rounded width="32" height="32" :src="getCharacter(data.item.character_id).portrait.px64x64" /> {{getCharacter(data.item.character_id).name}}
        </div>
      </template>
      <template slot="observer_id" slot-scope="data">
        <b-img rounded width="32" height="32" :src="generateTypeIconUrl(getObserver(data.item.observer_id).type_id)" /> {{getObserver(data.item.observer_id).name}}
      </template>
      <template slot="observer_corporation_id" slot-scope="data">
        <b-img rounded width="32" height="32" :src="getCorporation(getObserver(data.item.observer_id).corporation_id).portrait.px64x64" /> {{getCorporation(getObserver(data.item.observer_id).corporation_id).corporation_name}}
      </template>
      <template slot="type_id" slot-scope="data">
        <b-img rounded width="32" height="32" :src="generateTypeIconUrl(data.item.type_id)" /> {{getType(data.item.type_id).name.en}}
      </template>
      <template slot="quantity" slot-scope="data">
        <pre>{{numberFormat(data.item.quantity)}}</pre>
      </template>
    </b-table>
    <b-pagination size="md" v-model="currentPage" :per-page="perPage" :total-rows="Object.keys(ledger).length"></b-pagination>
  </div>
</template>

<script>
import moment from 'moment'
import {mapGetters} from 'vuex'
import store from '../../../store/index'
import CharacterBadge from '../../../components/Eve/CharacterBadge'
import _ from 'lodash'

export default {
  computed: {
    ...mapGetters([
      'getCharacter',
      'getCorporation',
      'getObserver',
      'getType'
    ])
  },
  components: {
    CharacterBadge
  },
  created () {
    this.$http.get('/observers/history').then((res) => {
      let characters = []
      let corporations = []
      let observers = []
      let types = []
      for (var key in res.data) {
        if (!res.data.hasOwnProperty(key)) continue

        characters.push(res.data[key].character_id)
        corporations.push(res.data[key].observer_corporation_id)
        observers.push(res.data[key].observer_id)
        types.push(res.data[key].type_id)
      }
      store.dispatch('updateCharacters', characters)
      store.dispatch('updateCorporations', corporations)
      store.dispatch('updateObservers', observers)
      store.dispatch('updateTypes', types)
      this.ledger = res.data
    })
  },
  data () {
    return {
      ledger: {},
      moment: moment,
      fields: {
        last_updated: {
          label: 'Date',
          sortable: true
        },
        character_id: {
          label: 'Character',
          sortable: true
        },
        observer_id: {
          label: 'Observer',
          sortable: true
        },
        observer_corporation_id: {
          label: 'Owning Corporation',
          sortable: true
        },
        type_id: {
          label: 'Ore Type',
          sortable: true
        },
        quantity: {
          label: 'Quantity',
          sortable: false
        }
      },
      sortBy: 'last_updated',
      sortDesc: true,
      currentPage: 1,
      statusCurrentPage: 1,
      perPage: 20,
      logFilter: null,
      filter: null
    }
  },
  methods: {
    generateTypeIconUrl: function (typeId) {
      return 'https://image.eveonline.com/Type/' + typeId + '_32.png'
    },
    numberFormat: function (x) {
      if (_.isUndefined(x)) return 0

      let parts = x.toString().split('.')
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      if (parts[1] !== undefined && parts[1].length > 2) {
        return parts[0] + '.' + parts[1].substr(0, 2)
      }
      if (parts[1] !== undefined && parts[1].length > 0) {
        return parts[0] + '.' + parts[1]
      }
      return parts[0]
    }
  }
}
</script>
