<template>
  <div>
    <b-card title="Create A Report">
      <b-form inline>
        <b-form-group class="form-control" label="Start Date:" label-for="start_date">
          <datepicker v-model="reportForm.start_date" name="start_date"></datepicker>
        </b-form-group>
        <b-form-group class="form-control m-3" label="End Date:" label-for="end_date">
          <datepicker v-model="reportForm.end_date" name="end_date"></datepicker>
        </b-form-group>
      </b-form>
    </b-card>

    <b-btn v-b-toggle.MiningLedger variant="red">Corporation Mining Ledger</b-btn>
    <b-collapse id="MiningLedger" class="mt-2">
      <b-table
        :items="Object.values(ledger)"
        :fields="fields"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="logFilter">
        <template slot="last_updated" slot-scope="data">
          {{moment(data.item.last_updated).format('MM/DD/YYYY')}}
        </template>
        <template slot="character_id" slot-scope="data">
          <div style="cursor: pointer">
            <b-img rounded width="32" height="32" :src="getCharacter(data.item.character_id).portrait.px64x64" /> {{getCharacter(data.item.character_id).name}}
          </div>
        </template>
        <template slot="observer_id" slot-scope="data">
          <b-img rounded width="32" height="32" :src="generateTypeIconUrl(getObserver(data.item.observer_id).type_id)" /> {{getObserver(data.item.observer_id).name}}
        </template>
        <template slot="observer_corporation_id" slot-scope="data">
          <b-img rounded width="32" height="32" :src="lod.get(getCorporation(getObserver(data.item.observer_id).corporation_id), 'portrait.px64x64', '')" /> {{lod.get(getCorporation(getObserver(data.item.observer_id).corporation_id), 'corporation_name', '')}}
        </template>
        <template slot="type_id" slot-scope="data">
          <b-img rounded width="32" height="32" :src="generateTypeIconUrl(data.item.type_id)" /> {{getType(data.item.type_id).name.en}}
        </template>
        <template slot="quantity" slot-scope="data">
          <pre>{{numberFormat(data.item.quantity)}}</pre>
        </template>
      </b-table>
      <b-pagination size="md" v-model="currentPage" :per-page="perPage" :total-rows="Object.keys(ledger).length"></b-pagination>
    </b-collapse>
  </div>
</template>

<script>
import moment from 'moment'
import {mapGetters} from 'vuex'
import store from '../../../store/index'
import CharacterBadge from '../../../components/Eve/CharacterBadge'
import lod from 'lodash'
import Datepicker from 'vuejs-datepicker'

export default {
  computed: {
    ...mapGetters([
      'getCharacter',
      'getCorporation',
      'getObserver',
      'getType'
    ])
  },
  components: {
    CharacterBadge,
    Datepicker
  },
  created () {
    this.$http.get('/observers/history').then((res) => {
      let characters = []
      let corporations = []
      let observers = []
      let types = []
      for (var key in res.data) {
        if (!res.data.hasOwnProperty(key)) continue

        if (characters.indexOf(res.data[key].character_id) === -1) characters.push(res.data[key].character_id)
        if (corporations.indexOf(res.data[key].observer_corporation_id) === -1) corporations.push(res.data[key].observer_corporation_id)
        if (observers.indexOf(res.data[key].observer_id) === -1) observers.push(res.data[key].observer_id)
        if (types.indexOf(res.data[key].type_id) === -1) types.push(res.data[key].type_id)
      }
      store.dispatch('updateCharacters', characters)
      store.dispatch('updateCorporations', corporations)
      store.dispatch('updateObservers', observers)
      store.dispatch('updateTypes', types)
      this.ledgerCharacters = characters
      this.ledger = res.data
    })
  },
  data () {
    return {
      reportForm: {
        start_date: new Date(),
        end_date: new Date()
      },
      ledger: {},
      ledgerCharacters: [],
      moment: moment,
      lod: lod,
      fields: {
        last_updated: {
          label: 'Date',
          sortable: true
        },
        character_id: {
          label: 'Character',
          sortable: true
        },
        observer_id: {
          label: 'Observer',
          sortable: true
        },
        observer_corporation_id: {
          label: 'Owning Corporation',
          sortable: true
        },
        type_id: {
          label: 'Ore Type',
          sortable: true
        },
        quantity: {
          label: 'Quantity',
          sortable: false
        }
      },
      sortBy: 'last_updated',
      sortDesc: true,
      currentPage: 1,
      statusCurrentPage: 1,
      perPage: 20,
      logFilter: null,
      filter: null
    }
  },
  methods: {
    generateTypeIconUrl: function (typeId) {
      return 'https://image.eveonline.com/Type/' + typeId + '_32.png'
    },
    numberFormat: function (x) {
      if (lod.isUndefined(x)) return 0

      let parts = x.toString().split('.')
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      if (parts[1] !== undefined && parts[1].length > 2) {
        return parts[0] + '.' + parts[1].substr(0, 2)
      }
      if (parts[1] !== undefined && parts[1].length > 0) {
        return parts[0] + '.' + parts[1]
      }
      return parts[0]
    }
  }
}
</script>
