<template>
  <div class="app-window align-items-center">
    <b-container>
      <b-card title="Moon Ore Buyback Program">
        <b-nav tabs>
          <b-nav-item :to="{ name: 'MoonOreBuyback' }" :active="$route.name === 'MoonOreBuyback'" :exact="true" >Character Overview</b-nav-item>
          <b-nav-item :to="{ name: 'MoonOreBuybackCorporationOverview' }" :active="$route.name === 'MoonOreBuybackCorporationOverview'" :exact="true" >Corporation Overview</b-nav-item>
          <b-nav-item :to="{ name: 'MoonOreBuybackCorporationReports' }" :active="$route.name === 'MoonOreBuybackCorporationReports'" :exact="true" >Corporation Reports</b-nav-item>
        </b-nav>
        <router-view></router-view>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'MoonOre'
}
</script>
