<template>
  <div class="app flex-row align-items-center">
    <b-container>
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body @keyup.enter="login()">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <b-input-group class="mb-3">
                  <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                  <b-form-input :state="errors.email === null? null : !errors.email" v-model="form.email" type="text" class="form-control" placeholder="Email"></b-form-input>
                </b-input-group>
                <div v-if="errors.email" class="text-danger m-2 font-weight-bold">{{ errors.email }}</div>
                <b-input-group class="mb-4">
                  <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                  <b-form-input :state="form.password === null? null : !errors.password" v-model="form.password" type="password" class="form-control" placeholder="Password"></b-form-input>
                </b-input-group>
                <div v-if="errors.password" class="text-danger m-2 font-weight-bold">{{ errors.password }}</div>
                <div v-if="error" class="text-danger m-2 font-weight-bold">{{ error }}</div>
                <b-row>
                  <b-col cols="6">
                    <b-button @click="login()" variant="red" class="px-4" :disabled="loading">Login <i v-if="loading" class="fa fa-spinner fa-spin"></i></b-button>
                  </b-col>
                  <b-col cols="6" class="text-right">
                    <b-button variant="link" class="px-0">Forgot password?</b-button>
                  </b-col>
                </b-row>
              </b-card-body>
            </b-card>
            <b-card no-body class="text-white bg-dark py-5 d-md-down-none" style="width:44%">
              <b-card-body class="text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>To access our BuyBack features and automated corporation features you will need to create an account.</p>
                  <b-button variant="red" class="active mt-3" :to="{ path: 'Register' }">Register Now!</b-button>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import tokens from '../../helpers/tokens'
export default {
  name: 'Login',
  data () {
    return {
      loading: false,
      error: null,
      errors: {
        email: null,
        password: null
      },
      form: {
        email: null,
        password: null
      }
    }
  },
  methods: {
    login () {
      if (this.loading) return
      this.loading = true
      this.$http.post('/auth/attempt', this.form)
        .then(res => {
          this.loading = false
          if (res.data.token) {
            tokens.setAccessToken(res.data.token)
            tokens.setRefreshToken(res.data.token)
            this.$router.push({name: 'Home'})
          }
        })
        .catch(err => {
          if (err.response.data.error) {
            this.error = err.response.data.error.message
          }
          if (err.response.data.errors) {
            if (err.response.data.errors.email) this.errors.email = err.response.data.errors.email.msg
            if (err.response.data.errors.password) this.errors.password = err.response.data.errors.password.msg
          }
          this.loading = false
        })
    }
  }
}
</script>
