<template>
  <div class="app flex-row align-items-center" @keyup.enter="register()">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6" sm="8">
          <b-card no-body class="mx-4">
            <b-card-body class="p-4">
              <h1>Register</h1>
              <p class="text-muted">Create your account</p>

              <b-input-group class="mb-3">
                <b-input-group-prepend>
                  <b-input-group-text>@</b-input-group-text>
                </b-input-group-prepend>
                <b-form-input
                          v-model="form.email"
                          :state="form.email.length == 0 ? null : !$v.form.email.$invalid"
                          type="text"
                          class="form-control"
                          placeholder="Email" required>
                </b-form-input>
                <b-form-invalid-feedback v-if="form.email.length > 0" id="emailLiveFeedback">
                  Please enter a valid email
                </b-form-invalid-feedback>
              </b-input-group>

              <b-input-group class="mb-3">
                <b-input-group-prepend>
                  <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                </b-input-group-prepend>
                <b-form-input v-model="form.password" :state="form.password.length == 0 ? null : !$v.form.password.$invalid" type="password" class="form-control" placeholder="Password" required></b-form-input>
                <b-form-invalid-feedback v-if="form.password.length > 0" id="passwordLiveFeedback">
                  Password must be at least 8 characters in length
                </b-form-invalid-feedback>
              </b-input-group>

              <b-input-group class="mb-4">
                <b-input-group-prepend>
                  <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                </b-input-group-prepend>
                <b-form-input v-model="form.passwordConfirmation" :state="form.passwordConfirmation.length == 0 ? null : !$v.form.passwordConfirmation.$invalid" type="password" class="form-control" placeholder="Repeat password" required></b-form-input>
                <b-form-invalid-feedback v-if="form.passwordConfirmation.length > 0" id="passwordConfirmationLiveFeedback">
                  Password and confirm password must match
                </b-form-invalid-feedback>
              </b-input-group>

              <b-form-group>
                <div v-if="error" class="text-danger text-center font-weight-bold">{{ error }}</div>
              </b-form-group>

              <b-button variant="red" @click="register()" :disabled="$v.form.$invalid" block>Create Account <i v-if="loading" class="fa fa-spinner fa-spin"></i></b-button>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
export default {
  name: 'Register',
  data () {
    return {
      loading: false,
      error: null,
      errors: {
        email: null,
        password: null
      },
      form: {
        email: '',
        password: '',
        passwordConfirmation: ''
      }
    }
  },
  mixins: [
    validationMixin
  ],
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(4)
      },
      passwordConfirmation: {
        required,
        sameAs: sameAs('password')
      }
    }
  },
  methods: {
    register () {
      if (this.$v.form.$invalid || this.loading) return
      this.loading = true
      this.$http.post('/auth/register', this.form)
        .then(res => {
          this.loading = false
          this.$router.push({ name: 'Login' })
        })
        .catch(err => {
          if (err.response.data.error) {
            this.error = err.response.data.error.message
          }
          if (err.response.data.errors) {
            if (err.response.data.errors.email) this.errors.email = err.response.data.errors.email.msg
            if (err.response.data.errors.password) this.errors.password = err.response.data.errors.password.msg
          }
          this.loading = false
        })
    }
  }
}
</script>
