$navbar-bg: $gray-900;
$navbar-border: $gray-900;

$navbar-brand-width:                  164px;
$navbar-brand-bg:                     $gray-900;
$navbar-brand-logo-size:              116px auto;
$navbar-brand-border: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color:                            $gray-900
  )
);

$aside-menu-bg: $gray-800;
$border-color: $gray-900;

.navbar-nav .nav-link.active:focus {
  color: #aaa !important;
}
.navbar-nav .nav-link {
  color: #aaa !important;
}
.breadcrumb {
  color: #fff;
  border-bottom: 1px solid $gray-800 !important;
}

.breadcrumb-item {
  a {
    color: $gray-400;
  }
}
