@media (min-aspect-ratio: 16/9) {
  body {
    background: url('/static/img/Main_Background.jpg') #181f25 no-repeat center center fixed;
    background-size: 100% auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  body {
    background: url('/static/img/Main_Background.jpg') #181f25 no-repeat center center fixed;
    background-size: auto 100%;
  }
}

.app-window {
  margin-top: 5vh;
}
