.icon-buyback {
  width: 16px;
  height: 16px;
  background-image: url('/static/img/icons/buyback.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-corporation {
  width: 16px;
  height: 16px;
  background-image: url('/static/img/icons/corporation.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-industry {
  width: 16px;
  height: 16px;
  background-image: url('/static/img/icons/industry.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-standard-ore {
  width: 16px;
  height: 16px;
  background-image: url('/static/img/icons/standard_ore.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-moon-ore {
  width: 16px;
  height: 16px;
  background-image: url('/static/img/icons/moon_ore.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-planetary-interaction {
  width: 16px;
  height: 16px;
  background-image: url('/static/img/icons/planetary_interaction.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-salvage {
  width: 16px;
  height: 16px;
  background-image: url('/static/img/icons/salvage.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-overview {
  width: 16px;
  height: 16px;
  background-image: url('/static/img/icons/overview.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-api-checker {
  width: 16px;
  height: 16px;
  background-image: url('/static/img/icons/api_checker.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-login-person {
  width: 16px;
  height: 16px;
  display: inline-block;
  width: 20px;
  background-image: url('/static/img/icons/login.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-structure-fuel {
  width: 16px;
  height: 16px;
  display: inline-block;
  width: 20px;
  background-image: url('/static/img/icons/structure_fuel.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-reaction-planner {
  width: 16px;
  height: 16px;
  display: inline-block;
  width: 20px;
  background-image: url('/static/img/icons/reaction_planner.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-production-planner {
  width: 16px;
  height: 16px;
  display: inline-block;
  width: 20px;
  background-image: url('/static/img/icons/production_planner.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-sp-farming {
  width: 16px;
  height: 16px;
  display: inline-block;
  width: 20px;
  background-image: url('/static/img/icons/sp_farming.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
