<style>
  hr {
    line-height: 3px;
    padding: 0px;
    margin: 1px;
  }
</style>

<template>
  <div>
    <div style="position: relative; width: 96px; height: 64px; display: inline-block;">
      <div style="position: absolute; left: 0px; top: 0px;">
        <b-img :src="lod.get(getCharacter(characterId), 'portrait.px64x64', '')"></b-img>
      </div>
      <div>
        <b-img :src="lod.get(getCharacterCorporation(characterId), 'portrait.px64x64', '')" style="display: block; width: 32px; height: 32px; position: absolute; left: 64px; top: 0px;"></b-img>
        <b-img :src="lod.get(getCharacterAlliance(characterId), 'portrait.px64x64', '')" style="display: block; width: 32px; height: 32px; position: absolute; left: 64px; top: 32px;"></b-img>
      </div>
    </div>
    <div style="display: inline-block;">
      <div>Character: {{lod.get(getCharacter(characterId), 'name', '')}}</div>
      <hr>
      <div>Corporation: {{lod.get(getCharacterCorporation(characterId), 'corporation_name', '')}}</div>
      <hr>
      <div>Alliance: {{lod.get(getCharacterAlliance(characterId), 'alliance_name', '')}}</div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapState} from 'vuex'
import store from '../../store/index'
import lod from 'lodash'
export default {
  computed: {
    ...mapState({
      characters: state => state.evedata.characters
    }),
    ...mapGetters([
      'getCharacter',
      'getCharacterPortrait',
      'getCharacterCorporation',
      'getCharacterAlliance'
    ])
  },
  props: {
    characterId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      lod: lod
    }
  },
  created () {
    store.dispatch('updateCharacter', this.characterId)
  }
}
</script>
