<template>
  <header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button" @click="mobileSidebarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <b-link class="navbar-brand" to="/"></b-link>
    <button class="navbar-toggler sidebar-toggler d-md-down-none mr-auto" type="button" @click="sidebarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <b-navbar-nav class="ml-auto">
      <b-nav-item v-if="!isLoggedIn" class="d-md-down-none" :to="{ path: 'Login' }">
        Login | Register &nbsp; <i class="icon-login-person"></i>
      </b-nav-item>
      <b-nav-item v-if="isLoggedIn" class="d-md-down-none" v-on:click="logout()">
        Logout <i class="icon-logout"></i>
      </b-nav-item>
    </b-navbar-nav>
    <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" @click="asideToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>
</template>
<script>
import {mapState, mapGetters} from 'vuex'
import tokens from '../helpers/tokens'
export default {
  name: 'c-header',
  computed: {
    ...mapGetters([
      'isLoggedIn'
    ]),
    ...mapState({
      user: state => state.auth
    })
  },
  methods: {
    logout () {
      tokens.removeTokens()
      this.$store.dispatch('unsetAuthUser')
        .then(() => {
          this.$router.push({ name: 'Home' })
        })
    },
    sidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-hidden')
    },
    sidebarMinimize (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-minimized')
    },
    mobileSidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-mobile-show')
    },
    asideToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('aside-menu-hidden')
    }
  }
}
</script>
